node_modules/**
dist/**
build/**

##Modules
Service-Manager/LaM-Manager
Service-Manager/PostgreSQL-Manager
Service-Manager/CommApi-Manager
CommPlatform-ProtoClient/OneBot11-ProtoClient
CommPlatform-ProtoClient/KOOK-ProtoClient
Data-Store/Dialog-Store
Data-Store/User-Store